:root {
    --hover-width: 75vw;
    --hover-height: 75vh;
    --other-width: 25vw;
    --other-height: 25vw;
}

* {
    box-sizing: border-box;
}

body {
    background: #333;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

h2 {
    font-size: 3rem;
}

.container {
    position: relative;
}

.upper-left {
    background-image: url('mountain.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    top: 0;
    left: 0;
    position: absolute;
}

.upper-right {
    background-image: url('beach.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    top: 0;
    left: 50%;
    position: absolute;
}

.lower-left {
    background-image: url('bayou.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    top: 50vh;
    left: 0;
    position: absolute;
}

.lower-right {
    background-image: url('city.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    top: 50vh;
    left: 50vw;
    position: absolute;
}

button {
    padding: 1rem;
    width: 10rem;
    background: steelblue;
    color: white;
    font-size: 1.2rem;
}

button:hover {
    transform: scale(0.97);
    background: rgb(90, 156, 211);
}
